<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="RSSFeedDirectory" value="rssfeeds"/>
    <add key="UrlInvalidDialogError" value="Enter a valid URL."/>
    <add key="RSSFeedAlreadyExistsDialogError" value="RSS feed with name '{0}' already exists."/>
    <add key="UpdateFrequenceDialogError" value="The input '{0}' is not valid. Make sure the update frequency is a whole number between larger than 0 and less than 2.147.483.648."/>
  </appSettings>
</configuration>